extends layout

block content
    h3 Glucose
    if message
        p.text-success= message
    a(href="/account/glucose/new") Add New Glucose Entry
    table.table.table-hover 
      if glucoses.length 
        thead
            tr 
              th ID 
              th Blood Sugar 
              th Date
              th
              th
            each glucose in glucoses 
              include glucose.row.jade
        
