extends layout

block content
    div.container-fluid
        div.row-fluid
            div.span2.offset1
                p sidebar
            div.span9
                h1= title
                p Welcome to #{title}
                div
                    p connnnnnteeeennnt
