extends layout

block content
  h3 Login
  if message
    p.text-error= message
  form(method='post', action='')
    label(for='username') Username
    input(id='username', name='username', autofocus="autofocus")
    br

    label(for='password') Password
    input(id='password', name='password', type='password')
    br

    input(type='submit') Login
    br
    br
    a(href='/register') Register

  
